@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@model OnlineShop.Models.Product
@{ ViewData["Title"] = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .StartColor {
        color: #FFC000;
    }
</style>
<section class="single-product-desc">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="item-preview item-preview2">
                    <div class="prev-slide">
                        <img src="~/ProductImg/@Html.DisplayFor(model => model.ImgUrl)" alt="@Html.DisplayFor(model => model.NameProduct)">
                    </div>
                </div>

                <div class="item-info">
                    <div class="item-navigation">
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="#product-details" class="active" aria-controls="product-details" role="tab" data-toggle="tab">Chi tiết</a>
                            </li>
                            <li>
                                <a href="#product-comment" aria-controls="product-comment" role="tab" data-toggle="tab">Nhận xét<span>(@Model.Comments.Count())</span></a>
                            </li>
                            <li>
                                <a href="#product-review" aria-controls="product-review" role="tab" data-toggle="tab">Đánh giá<span>(@Model.Rates.Count())</span></a>
                            </li>
                            <li>
                                <a href="#product-support" aria-controls="product-support" role="tab" data-toggle="tab">Hỗ trợ</a>
                            </li>
                            <li>
                                <a href="#product-faq" aria-controls="product-faq" role="tab" data-toggle="tab">item FAQ</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade show product-tab active" id="product-details">
                            <div class="tab-content-wrapper">
                                <h1>Đặc điểm nổi bật của @Html.DisplayFor(model => model.Manufacturer.ManufacturerName) @Html.DisplayFor(model => model.NameProduct) </h1>
                                <p>@Html.DisplayFor(model => model.Note)</p>
                            </div>
                        </div>


                        <div class="tab-pane fade product-tab" id="product-comment">
                            <div class="thread">
                                @{
                                    var user = Context.Session.GetString("User");

                                    if (user != null)
                                    {
                                        <div class="comment-form-area">
                                            <h4>Hãy để lại bình luận về sản phẩm</h4>
                                            <div class="media comment-form">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" src="~/User/images/m7.png" alt="Commentator Avatar">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    @*<form action="~/Products/AddCmt" method="post" class="comment-reply-form">*@
                                                    @*<textarea name="Cmt" id="Cmt" placeholder="Viết bình luận về sản phẩm..."></textarea>*@
                                                    <textarea name="Comments" id="Comments" placeholder="Viết bình luận về sản phẩm..."></textarea>

                                                    <input hidden name="ProductId" value="@Model.ProductId" />
                                                    <button style="float:right;" class="btn btn--sm btn--round" onclick="AddCmt()">Gửi bình luận</button>

                                                    @*</form>*@
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="comment-form-area">
                                            <h4>Vui lòng <a href="~/Users/Login">đăng nhập</a> để bình luận</h4>
                                        </div>
                                    }
                                }
                                <ul class="media-list thread-list">
                                    @{
                                        <div id="comment"></div>
                                        if (Model.Comments.Count >= 1)
                                        {
                                            @foreach (var item in Model.Comments)
                                            {
                                                <li class="single-thread">
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <a href="#">
                                                                <img class="media-object" src="~/User/images/m1.png" alt="Commentator Avatar">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">

                                                            <div>
                                                                <div class="media-heading">
                                                                    <h4>@item.User.LastName</h4>
                                                                    <span>@item.CreateAt</span>
                                                                </div>
                                                            </div>
                                                            <p>
                                                                @item.Cmt
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    }
                                </ul>
                                @{
                                    if (Model.Comments.Count() > 3)
                                    {
                                        <div class="pagination-area pagination-area2">
                                            <nav class="navigation pagination " role="navigation">
                                                <div class="nav-links">
                                                    <a class="page-numbers current" href="#">1</a>
                                                    <a class="page-numbers" href="#">2</a>
                                                    <a class="page-numbers" href="#">3</a>
                                                    <a class="next page-numbers" href="#">
                                                        <span class="lnr lnr-arrow-right"></span>
                                                    </a>
                                                </div>
                                            </nav>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                        <div class="tab-pane fade product-tab" id="product-review">
                            <div class="thread thread_review">
                                @{
                                    if (user != null)
                                    {
                                        var dataUser = JsonConvert.DeserializeObject<User>(user);
                                        <h4 style=" margin-left: 20px; margin-bottom: 20px;">Hãy để lại đánh giá về sản phẩm</h4>
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="~/User/images/m1.png" alt="Commentator Avatar">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div>
                                                    <div class="media-heading">
                                                        <div class="rating product--rating rate">
                                                            <i class="fas fa-star check"></i>
                                                            <i class="fas fa-star check"></i>
                                                            <i class="fas fa-star check"></i>
                                                            <i class="fas fa-star check"></i>
                                                            <i class="fas fa-star check"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="padding-left: 5px; padding-top: 5px;" class="comment-form-area">
                                                    <div class="media comment-form">
                                                        <div class="media-body">
                                                            <textarea name="CMT" id="CMT" placeholder="Viết bình đánh giá về sản phẩm..."></textarea>
                                                            <input hidden name="ProductId" value="@Model.ProductId" />
                                                            <button style="float: right;" class="btn btn--sm btn--round" onclick="Rate()">Gửi đánh giá</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="comment-form-area">
                                            <h4>Vui lòng <a href="~/Users/Login">đăng nhập</a> để đánh giá</h4>
                                        </div>
                                    }
                                }
                                <ul class="media-list thread-list user-Cmt">
                                    @{
                                        if (Model.Rates.Count >= 1)
                                        {
                                            @foreach (var item in Model.Rates)
                                            {
                                                <li class="single-thread">
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <img class="media-object" src="~/User/images/m1.png" alt="Commentator Avatar">
                                                        </div>
                                                        <div class="media-body">
                                                            <div>
                                                                <div class="media-heading">
                                                                    @*<h4>@item.User.LastName</h4>*@
                                                                    <span style="margin: 0;">@item.CreatAt</span>
                                                                    <br />
                                                                    <div class="rating product--rating">
                                                                        @{
                                                                            for (int i = 1; i <= 5; i++)
                                                                            {
                                                                                if (i <= @item.Level)
                                                                                {
                                                                                    <i class="fas fa-star StartColor"></i>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <i class="fas fa-star"></i>
                                                                                }
                                                                            }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p>
                                                                @item.Comments
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    }
                                </ul>
                                @{
                                    if (Model.Comments.Count() > 3)
                                    {
                                        <div class="pagination-area pagination-area2">
                                            <nav class="navigation pagination " role="navigation">
                                                <div class="nav-links">
                                                    <a class="page-numbers current" href="#">1</a>
                                                    <a class="page-numbers" href="#">2</a>
                                                    <a class="page-numbers" href="#">3</a>
                                                    <a class="next page-numbers" href="#">
                                                        <span class="lnr lnr-arrow-right"></span>
                                                    </a>
                                                </div>
                                            </nav>
                                        </div>
                                    }

                                }
                            </div>
                        </div>

                        <div class="tab-pane fade product-tab" id="product-review">
                            <div class="thread thread_review">
                                <ul class="media-list thread-list">
                                    <li class="single-thread">
                                        <div class="pagination-area pagination-area2">
                                            <nav class="navigation pagination " role="navigation">
                                                <div class="nav-links">
                                                    <a class="page-numbers current" href="#">1</a>
                                                    <a class="page-numbers" href="#">2</a>
                                                    <a class="page-numbers" href="#">3</a>
                                                    <a class="next page-numbers" href="#">
                                                        <span class="lnr lnr-arrow-right"></span>
                                                    </a>
                                                </div>
                                            </nav>
                                        </div>
                                    </li>
                                </ul>


                            </div>
                        </div>

                        <div class="tab-pane fade product-tab" id="product-support">
                            <div class="support">
                                <div class="support__title">
                                    <h3>Contact the Author</h3>
                                </div>
                                <div class="support__form">
                                    <div class="usr-msg">
                                        <p>
                                            Please
                                            <a href="login.html">sign in</a> to contact this author.
                                        </p>

                                        <form action="#" class="support_form">
                                            <div class="form-group">
                                                <label for="subj">Support Subject:</label>
                                                <input type="text" id="subj" class="text_field" placeholder="Enter your subject">
                                            </div>

                                            <div class="form-group">
                                                <label for="supmsg">Support Query: </label>
                                                <textarea class="text_field" id="supmsg" name="supmsg" placeholder="Enter your text..."></textarea>
                                            </div>
                                            <button type="submit" class="btn btn--lg btn--round">Submit Now</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade product-tab" id="product-faq">
                            <div class="tab-content-wrapper">
                                <div class="panel-group accordion" role="tablist" id="accordion">
                                    <div class="panel accordion__single" id="panel-one">
                                        <div class="single_acco_title">
                                            <h4>
                                                <a data-toggle="collapse" href="#collapse1" class="collapsed" aria-expanded="false" data-target="#collapse1" aria-controls="collapse1">
                                                    <span>How to write the changelog for theme updates?</span>
                                                    <i class="lnr lnr-chevron-down indicator"></i>
                                                </a>
                                            </h4>
                                        </div>

                                        <div id="collapse1" class="panel-collapse collapse" aria-labelledby="panel-one" data-parent="#accordion">
                                            <div class="panel-body">
                                                <p>
                                                    Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut
                                                    sceleris que the mattis, leo quam aliquet congue placerat mi id nisi
                                                    interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip
                                                    quis cardigan american apparel, butcher. Nunc placerat mi id nisi
                                                    interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                                                    leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip
                                                    placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                                                    apparel, butcher .
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel accordion__single" id="panel-two">
                                        <div class="single_acco_title">
                                            <h4>
                                                <a data-toggle="collapse" href="#collapse2" class="collapsed" aria-expanded="false" data-target="#collapse2" aria-controls="collapse2">
                                                    <span>Why do I need to login to purchase an item on DigiPro?</span>
                                                    <i class="lnr lnr-chevron-down indicator"></i>
                                                </a>
                                            </h4>
                                        </div>

                                        <div id="collapse2" class="panel-collapse collapse" aria-labelledby="panel-two" data-parent="#accordion">
                                            <div class="panel-body">
                                                <p>
                                                    Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut
                                                    sceleris que the mattis, leo quam aliquet congue placerat mi id nisi
                                                    interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip
                                                    quis cardigan american apparel, butcher. Nunc placerat mi id nisi
                                                    interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                                                    leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip
                                                    placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                                                    apparel, butcher .
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel accordion__single" id="panel-three">
                                        <div class="single_acco_title">
                                            <h4>
                                                <a data-toggle="collapse" href="#collapse3" class="collapsed" aria-expanded="false" data-target="#collapse3" aria-controls="collapse3">
                                                    <span>How to create an account on DigiPro?</span>
                                                    <i class="lnr lnr-chevron-down indicator"></i>
                                                </a>
                                            </h4>
                                        </div>

                                        <div id="collapse3" class="panel-collapse collapse" aria-labelledby="panel-three" data-parent="#accordion">
                                            <div class="panel-body">
                                                <p>
                                                    Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut
                                                    sceleris que the mattis, leo quam aliquet congue placerat mi id nisi
                                                    interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip
                                                    quis cardigan american apparel, butcher. Nunc placerat mi id nisi
                                                    interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                                                    leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip
                                                    placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                                                    apparel, butcher .
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel accordion__single" id="panel-four">
                                        <div class="single_acco_title">
                                            <h4>
                                                <a data-toggle="collapse" href="#collapse4" class="collapsed" aria-expanded="false" data-target="#collapse4" aria-controls="collapse4">
                                                    <span>How to write the changelog for theme updates?</span>
                                                    <i class="lnr lnr-chevron-down indicator"></i>
                                                </a>
                                            </h4>
                                        </div>

                                        <div id="collapse4" class="panel-collapse collapse" aria-labelledby="panel-four" data-parent="#accordion">
                                            <div class="panel-body">
                                                <p>
                                                    Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut
                                                    sceleris que the mattis, leo quam aliquet congue placerat mi id nisi
                                                    interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip
                                                    quis cardigan american apparel, butcher. Nunc placerat mi id nisi
                                                    interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                                                    leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip
                                                    placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                                                    apparel, butcher .
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel accordion__single" id="panel-five">
                                        <div class="single_acco_title">
                                            <h4>
                                                <a data-toggle="collapse" href="#collapse5" class="collapsed" aria-expanded="false" data-target="#collapse5" aria-controls="collapse5">
                                                    <span>Do you recommend using a download manager software?</span>
                                                    <i class="lnr lnr-chevron-down indicator"></i>
                                                </a>
                                            </h4>
                                        </div>

                                        <div id="collapse5" class="panel-collapse collapse" aria-labelledby="panel-five" data-parent="#accordion">
                                            <div class="panel-body">
                                                <p>
                                                    Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut
                                                    sceleris que the mattis, leo quam aliquet congue placerat mi id nisi
                                                    interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip
                                                    quis cardigan american apparel, butcher. Nunc placerat mi id nisi
                                                    interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                                                    leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip
                                                    placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                                                    apparel, butcher .
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel accordion__single" id="panel-six">
                                        <div class="single_acco_title">
                                            <h4>
                                                <a data-toggle="collapse" href="#collapse6" class="collapsed" aria-expanded="false" data-target="#collapse6" aria-controls="collapse6">
                                                    <span>How to purchase an item on DigiPro?</span>
                                                    <i class="lnr lnr-chevron-down indicator"></i>
                                                </a>
                                            </h4>
                                        </div>

                                        <div id="collapse6" class="panel-collapse collapse" aria-labelledby="panel-six" data-parent="#accordion">
                                            <div class="panel-body">
                                                <p>
                                                    Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut
                                                    sceleris que the mattis, leo quam aliquet congue placerat mi id nisi
                                                    interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip
                                                    quis cardigan american apparel, butcher. Nunc placerat mi id nisi
                                                    interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                                                    leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip
                                                    placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                                                    apparel, butcher .
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <aside class="sidebar sidebar--single-product">
                    <div class="sidebar-card card-pricing card--pricing2">
                        <div class="price">
                            <h1>
                                <span name="Price">@string.Format("{0:#,##0}", Model.Price)</span>
                                <sup>VNĐ</sup>
                            </h1>
                        </div>
                        <ul class="pricing-options">
                            <li>
                                <div class="custom-radio">
                                    <input type="radio" id="opt1" class="" name="filter_opt" checked>
                                    <label for="opt1" data-price="60">
                                        <span class="circle"></span>Bản tiêu chuẩn.
                                    </label>
                                </div>

                                <p>
                                    Ram: @Html.DisplayFor(model => model.Ram.Memory) <br />
                                    Rom: @Html.DisplayFor(model => model.Rom.Space)
                                </p>
                            </li>

                        </ul>

                        <div class="purchase-button">
                            <button style="margin-top: 8%;" type="button" class="btn btn--lg btn--round cart-btn AddCartAjax">Thêm vào giỏ hàng</button>
                            <input hidden name="Price" value="@Html.DisplayFor(model => model.Price)" />
                            <input hidden name="ProductId" data-id="@Html.DisplayFor(model => model.ProductId)" value="@Html.DisplayFor(model => model.ProductId)" />
                            <input hidden name="NameProduct" value="@@Html.DisplayFor(model => model.NameProduct)" />
                            <input hidden name="DiscountId" value="@Html.DisplayFor(model => model.DiscountId)" />
                            <input hidden name="ImgUrl" value="Html.DisplayFor(model => model.ImgUrl)" />
                        </div>
                    </div>

                    <div class="sidebar-card card--metadata">
                        <ul class="data">
                            <li>
                                <p>
                                    <span class="lnr lnr-cart pcolor"></span>Đã bán
                                </p>
                                <span>426</span>
                            </li>
                            <li>
                                <p>
                                    <span class="lnr lnr-heart scolor"></span>Yêu thích
                                </p>
                                <span>240</span>
                            </li>
                            <li>
                                <p>
                                    <span class="lnr lnr-bubble mcolor3"></span>Nhận xét
                                </p>
                                <span>35</span>
                            </li>
                        </ul>


                        <div class="rating product--rating">
                            <ul>
                                <li>
                                    <span class="fa fa-star"></span>
                                </li>
                                <li>
                                    <span class="fa fa-star"></span>
                                </li>
                                <li>
                                    <span class="fa fa-star"></span>
                                </li>
                                <li>
                                    <span class="fa fa-star"></span>
                                </li>
                                <li>
                                    <span class="fa fa-star-half-o"></span>
                                </li>
                            </ul>
                            <span class="rating__count">( 26 Ratings )</span>
                        </div>
                    </div>

                    <div class="sidebar-card card--product-infos">
                        <div class="card-title">
                            <h4>Thông tin sản phẩm</h4>
                        </div>

                        <ul class="infos">
                            <li>
                                <p class="data-label">Nhà sản xuất</p>
                                <p class="info">@Html.DisplayFor(model => model.Manufacturer.ManufacturerName)</p>
                            </li>
                            <li>
                                <p class="data-label">Tên sản phẩm</p>
                                <p class="info">@Html.DisplayFor(model => model.NameProduct)</p>
                                <p class="info" name="ProductId" hidden>@Html.DisplayFor(model => model.ProductId)</p>
                            </li>
                            <li>
                                <p class="data-label">Ram</p>
                                <p class="info">@Html.DisplayFor(model => model.Ram.Memory)</p>
                            </li>
                            <li>
                                <p class="data-label">Rom</p>
                                <p class="info">@Html.DisplayFor(model => model.Rom.Space)</p>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<script>
    var rate = 0;
    var Check = document.getElementsByClassName('check');
    for (let i = 0; i < Check.length; i++) {
        Check[i].addEventListener('click', function () {
            var itemClick = event.target;
            console.log(itemClick);
            if (itemClick.className.split(' ').length <= 3) {
                itemClick.className += ' ' + 'StartColor';
                for (let k = 0; k < i; k++) {
                    if (Check[k].className.split(' ')[3] !== 'StartColor') {
                        Check[k].className += ' ' + 'StartColor';
                    }
                }
            }
            else {
                for (let k = i + 1; k < Check.length; k++) {
                    Check[k].classList.remove('StartColor');
                }
            }
            rate = i + 1;
        });

    }
    function AddCmt() {
        let comment = $("#Comments").val();
         $.ajax({
            type: "POST",
            async: false,
            url: "@Url.Action("AddCmt", "Products")",
            data: {
                ProductId: @Html.DisplayFor(model => model.ProductId),
                Cmt: comment
            },
            success: function () {
                tata.success('Thêm thành công', 'Đã thêm bình luận thàng công', {
                    duration: 1000,
                    position: 'tr',
                    animate: 'slide'

                })
                location.reload();
            },
         });
    }
    function Rate() {
        let comment = $("#CMT").val();
        console.log(comment);
            $.ajax({
                type: "POST",
                async: false,
                url: "@Url.Action("Rate", "Products")",
                data: {
                    ProductId: @Html.DisplayFor(model => model.ProductId),
                    UserId: 2,
                    Level: rate,
                    Comments: comment
                },
                success: function () {
                    tata.success('Thêm thành công', 'Đã thêm bình luận thàng công', {
                        duration: 1000,
                        position: 'tr',
                        animate: 'slide'

                    })
                    location.reload();
                },
            });
        //}
    }
    $(document).ready(function () {
        $(".AddCartAjax").click(function (event) {
            event.preventDefault();

            tata.success('Thêm thành công', 'Đã thêm sản phẩm vào giỏ hàng', {
                duration: 1000,
                position: 'tr',
                animate: 'slide'
            })

            var Cart = document.getElementById("Cart").innerHTML;
            console.log(Cart);
            let tmp = parseInt(Cart) + 1;

            document.getElementById("Cart").innerHTML = tmp;

            var quantity = $(".quantity_" + $(this).next().next().attr("data-id")).val();

            $.ajax({
                type: "POST",
                async: false,
                url:"@Url.Action("AddCart", "Products")",
                data: {
                    id: $(this).next().next().attr("data-id"),
                    quantity: quantity
                },
                success: function (result) {
                },

            });
        });
    });
</script>