@using OnlineShop.Models;
@model InfoProduct
@{ ViewData["Title"] = "Thêm sản phẩm";
   Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

    <div class="dashboard_contents">
        <div class="container">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="credit_modules">
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="payment_info modules__content">
                                <div class="form-group">
                                    <label for="card_number">Tên sản phẩm</label>
                                    <input name="NameProduct" id="card_number" type="text" class="text_field" placeholder="Vui lòng nhập tên sản phẩm...">
                                </div>
                                <label for="name">Hãng sản xuất <span style="color:red">*Nếu chưa có hãng cần thêm tương ứng, vui lòng thêm hãng trước</span></label>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="select-wrap select-wrap2">
                                                <select name="ManufacturerId" id="name">
                                                    <option value="" selected disabled>Vui lòng chọn một</option>
                                                    @foreach (var item in Model.ManufacturerViewModel)
                                                    {
                                                        <option value="@item.ManufacturerId">@item.ManufacturerName</option>
                                                    }
                                                </select>
                                                <span class="lnr lnr-chevron-down"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label for="name">Cấu hình <span style="color:red">*Nếu chưa có cấu hình tương ứng, vui lòng tạo cấu hình trước</span></label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="select-wrap select-wrap2">
                                                <select name="RamId" id="name" ">
                                                    <option value="" selected disabled>Vui lòng chọn một</option>
                                                    @foreach (var item in Model.RamViewModel)
                                                    {
                                                        <option value="@item.RamId">@item.Memory</option>
                                                    }
                                                </select>
                                                <span class="lnr lnr-chevron-down"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="select-wrap select-wrap2">
                                                <select name="RomId" id="years">
                                                    <option value="" selected disabled>Vui lòng chọn một</option>
                                                    @foreach (var item in Model.RomViewModel)
                                                    {
                                                        <option value="@item.RomId">@item.Space</option>
                                                    }
                                                </select>
                                                <span class="lnr lnr-chevron-down"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label for="name">Áp dụng giảm giá</label>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="select-wrap select-wrap2">
                                                <select name="ManufacturerId" id="name">
                                                    <option value="0" selected>Không áp dụng giảm giá</option>

                                                    @foreach (var item in Model.DiscountViewModel)
                                                    {
                                                        <option value="@item.DiscountPercent">@item.DiscountPercent %</option>
                                                    }
                                                </select>
                                                <span class="lnr lnr-chevron-down"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="upload_wrapper">
                                    <p>
                                        Tải ảnh lên
                                        <span>(JPEG or PNG)</span>
                                    </p>
                                    <div class="custom_upload">
                                        <label for="thumbnail">
                                            <input type="file" multiple="multiple" name="ImgFile" id="thumbnail" class="files">
                                            <span class="btn btn--round btn--sm">Chọn hình</span>
                                        </label>
                                    </div>
                                    <div class="progress_wrapper">
                                        <div class="labels clearfix">
                                            <p>Name Picture.jpg</p>
                                            <span data-width="89">89%</span>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 89%;">
                                                <span class="sr-only">70% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="lnr upload_cross lnr-cross"></span>
                                </div>
                                <div class="form-group">
                                    <label for="authbio">Mô tả</label>
                                    <textarea name="note" id="authbio" class="text_field" placeholder="Một vài lưu ý về mã giảm giá"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="cv_code">Giá nhập sản phẩm</label>
                                            <input name="Cost" id="cv_code" type="text" class="text_field" placeholder="Vui lòng nhập giá...">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="cv_code">Giá bán sản phẩm</label>
                                            <input name="Price" id="cv_code" type="text" class="text_field" placeholder="Vui lòng nhập giá...">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="cv_code">Số lượng sản phẩm</label>
                                            <input name="QuantityImported" id="cv_code" type="text" class="text_field" placeholder="Vui lòng số...">
                                        </div>
                                        <button style=" float: right;" type="submit" class="btn btn--round btn--default">Thêm sản phẩm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
